.Logo {
  max-width: 168px;
}
@media (max-width: 800px) {
  .Logo {
    max-width: 105px;
  }
  .CadastroVideo {
    max-width: 20px;
    max-height: 20px;
  }
}

.Menu {
  width: 100%;
  height: 94px;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 5%;
  padding-right: 5%;

  background: var(--black);
  border-bottom: 1px solid var(--primary);
}
body {
  --bodyPaddingTop: 94px;
  padding-top: var(--bodyPaddingTop);
}
@media (max-width: 800px) {
  .Menu {
    height: 40px;
  }
  body {
    --bodyPaddingTop: 40px;
    padding-top: var(--bodyPaddingTop);
  }
}

.CadastroVideo {
  max-width: 40px;
  max-height: 40px;
  cursor: pointer;
  transition: opacity .3s;
}
.Logo:hover,
.Logo:focus,
.CadastroVideo:hover,
.CadastroVideo:focus {
  opacity: .8;
}